.block .content .userinfoblock{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 4px;
	margin:auto;
	position:center;
}
.block .content .userinfoblock img{
    height: 100px;
    margin-right: 4px;
    width: 100px;
}
/*
.block .content span {
    background: url("pix/tape2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    left: 30px;
    position: absolute;
    top: -13px;
    width: 115px;
}
*/
