.block .content .userinfoblock{
	margin:auto;
   text-align: center;
}
.block .content .userinfoblock img{
    height: 100px;
    width: 100px;
    padding: 4px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
}
.block .content .userinfoblock span{
    background:url([[pix:block_userinfo|tape2]]) no-repeat scroll transparent;display: block;
    height: 22px;
    left: 50px;
    position:absolute;
    margin-top:-10px;
    width: 100px;
}
.lastaccess{
    font-size: 10px;
    font-style: italic;
}